POSTGRES_DB=task_manager_db
POSTGRES_USER=task_user
POSTGRES_PASSWORD=change_me

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/task_manager_db
SPRING_DATASOURCE_USERNAME=task_user
SPRING_DATASOURCE_PASSWORD=change_me

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me